name: Run RuboCop and RSpec

on:
  pull_request:
    branches:
    - main

jobs:
  build:
    runs-on: ubuntu-latest
    services:
      redis:
        image: redis
        # Set health checks to wait until redis has started
        options: >-
          --health-cmd "redis-cli ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 6379:6379 # Maps port 6379 on service container to the host
    steps:
    - uses: actions/checkout@v3
    - uses: ruby/setup-ruby@v1
      with:
        bundler-cache: true
    - name: Run RuboCop
      run: bin/rubocop --format clang
    - name: Run RSpec tests
      run: bin/rspec --format progress
    - name: Upload Code Coverage
      uses: codecov/codecov-action@v3
      with:
        directory: tmp/simple_cov
